.mySpots{
  text-align:left;font-weight:200;
}
.space{
  margin-top:2%;margin-left:5%;
}
.creator{
  border:dashed 2px black;
}
.plus{
  width:50%;margin-left:25%;margin-top:25%;
}
.create{
  text-align:center;
}
.occupied{
border:green 2px solid;
}
.bubble{
  width:10%;height:10%;border-radius:50%;margin-left:100.5%;border:1px solid black;background:#e6e6e6;position:relative;bottom:10px;padding:1%;
}
.icons{
  width:90%;height:90%;margin-left:5%;
}
.enlarge{
  width:70%;height:70%;margin-left:19%;
}
h4{
  text-align:center;
}
.info{
  margin-top:10%;
}
.detail{
  color:black;margin-bottom:1%;
}
.stat{
  text-align:center;
}
.address{
  color:black;
}
.pensil{
  width:100%;
}
.empty{
  border:2px solid black;
}
.alerts{
  border:2px solid red;
}
